body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body { font-size:12px; font-family:"微软雅黑"; margin-bottom:30px;}

/* 清除浮动 */
.clear{
    zoom: 1;
}

.clear:after{
    content: '';
    display: block;
    clear: both;
}

/* public style */
.fl{ 
    float:left;
}

.fr
{ 
    float:right;
}

.gradient{
    background: -webkit-linear-gradient(to bottom, #ffffff, #f8f8f8);
    background: -moz-linear-gradient(to bottom, #ffffff, #f8f8f8);
    background: -ms-linear-gradient(to bottom, #ffffff, #f8f8f8);
    background:linear-gradient(to bottom, #ffffff, #f8f8f8);
}

#top, #nav, #content{
    width: 960px;
    margin:0 auto;
}

#search,.section,.side_section,.ad_border, #footer{
    border: 1px solid #dbdbdb;
    border-radius:6px;
}

.main_ad, .side_section, .side_ad, .ad_border{
    margin-bottom:10px;
}
#top{
    height: 30px;
    border: 1px solid #f9f9f9;
    border-radius: 0 0 6px 6px;
}

#nav{
    height: 100px;
    background: #ffffff;
}

#search{
    width: 958px;
    height: 116px;
    margin:0 auto 10px;
}

.content_l{
    width: 710px;
} 

.content_wrap{
    padding-bottom:10px;
} 

.section{
    width: 318px;
    height: 200px;
    padding: 0 15px;
}

.options{ 
    width: 350px; 
    position: relative;
}

.main_ad{ 
    border-radius:6px; 
    width: 710px;
    height: 90px; 
    overflow: hidden;
}

.content_r{
    width: 240px;
}

.side_section{
    height: 100px;
    padding: 0 12px;
}

.side_ad{
    border-radius:6px;
    overflow: hidden;
}

.ad_border{
    width: 238px;
    height: 88px;
}

.options .tab{
    width: 350px;
    position: relative;
    z-index: 2;
}
.options li{
    width: 172px;
    height: 33px;
    border-radius:6px 6px 0 0;
    border: 1px solid #dbdbdb;
    border-bottom: none;
}

.options .active{
    width: 172px;
    height: 34px;
    background: #fff;
}

.options .tab_info{
    width: 348px;
    height: 80px;
    border-radius:0 0 6px 6px;
    border: 1px solid #dbdbdb;
    position: absolute;
    top:34px;
    left: 0px;
    z-index: 1;
}

#footer{
    width:958px;
    height: 78px;
    margin: 0 auto;
}


